.toggle__switch {
  display: flex;
  position: relative;
  padding-right: 20px;
}

.toggle__switch_box {
  border-radius: 25px;
  border: 2px solid #7e7e7e;
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider_C {
  left: 28px;
  transition: translate 0.2s linear;
}

.switch__slider_C:hover {
  translate: 2px;
}

.switch__slider_F {
  transition: translate 0.2s linear;
}

.switch__slider_F:hover {
  translate: -2px;
}

.switch__temp_C {
  position: absolute;
  font-size: 14px;
  top: -11px;
  left: 38px;
  opacity: 0.5;
}

.switch__temp_F {
  position: absolute;
  font-size: 14px;
  top: -11px;
  left: 10px;
  opacity: 0.5;
}

.switch__active {
  color: white;
  opacity: 1;
  cursor: pointer;
}
