.toggle__switch {
  display: flex;
  position: relative;
  padding-right: 20px;
}

.toggle__switch_box {
  border-radius: 25px;
  border: 2px solid #7e7e7e;
  width: 56px;
  height: 28px;
  appearance: none;
  position: relative;
  overflow: hidden;
}

.switch__slider {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.switch__slider_C {
  transform: translateX(28px);
}

.switch__temp_C,
.switch__temp_F {
  position: absolute;
  font-size: 14px;
  top: -11px;
  opacity: 0.5;
  pointer-events: none;
}

.switch__temp_C {
  left: 38px;
}

.switch__temp_F {
  left: 10px;
}

.switch__active {
  color: white;
  opacity: 1;
  cursor: pointer;
}

@keyframes slideToC {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(28px);
  }
}

@keyframes slideToF {
  0% {
    transform: translateX(28px);
  }
  100% {
    transform: translateX(0);
  }
}
