.modal__content_delete {
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin: 0 auto;
  max-width: 670px;
}

.modal__delete_text {
  margin-top: 0;
  font-size: 20px;
  max-width: 367px;
  text-align: center;
}

.modal__delete_buttons {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.modal__cancel {
  background-color: white;
  border: none;
}

.modal__confirm_delete {
  color: #ff4d00;
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: white;
  border: none;
}
