.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  line-height: 24.8px;
  font-family: "CabinetGrotesk", Arial, sans-serif;
}

.header__logo {
  width: 89px;
  height: 40px;
  padding-right: 24px;
}

.header__date_time {
  margin: 0;
}

.header__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__add_clothes {
  border: none;
  padding-right: 20px;
  background: none;
  font-weight: 700;
  cursor: pointer;
}

.header__add_clothes:hover {
  opacity: 0.5;
}

.header__user_info {
  display: flex;
  margin: 0;
}

.header__link {
  text-decoration: none;
}

.header__username {
  padding-right: 12px;
  color: black;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
}

.header__signup {
  font-weight: 700;
  margin-right: 20px;
  border: none;
  padding: 0;
  background: none;
}

.header__login {
  font-weight: 700;
  line-height: 24px;
  border: none;
  margin-left: 0;
  margin-right: 20px;
  background: none;
}
